<span *ngFor="let island of Islands; index as i" class="island" [style.background-color]="regionColorMap[island.Region]">
  <div class="islandHeaderWrapper">    
    <span class="islandHeader">
      <div class="islandNameContainer">
        <input class="islandName form-control" type="text" [(ngModel)]="island.Name" />
        <select class="islandRegion form-control" [(ngModel)]="island.Region" [disabled]="island.GetTotalHouseCount() > 0" (ngModelChange)="island.RegionChanged()">
          <option *ngFor="let region of regionOptions" [value]="region.value">{{ region.label }}</option> 
        </select>
        <span class="pull-right buttonTray">
          <button type="button" class="btn btn-primary btn-sm" [disabled]="i === 0" (click)="MoveIslandUp(i)">
            <span class="fa fa-arrow-up"></span>
          </button> 
          <button type="button" class="btn btn-primary btn-sm" [disabled]="i === (Islands.length - 1)" (click)="MoveIslandDown(i)">
              <span class="fa fa-arrow-down"></span>
          </button>
          <button type="button" class="btn btn-primary btn-sm" (click)="island.ToggleMinimized()">
            <span [className]="'fa ' + (island.IsMinimized ? 'fa-window-maximize' : 'fa-window-minimize')"></span>
          </button>
        </span>
      </div>  
    
      <span class="populationGroup" *ngIf="!island.IsMinimized">        
        <!-- Population and Dwellings -->
        <span class="houseCountColumn">
          <span class="popLabelColumn"></span><br />
          <span class="popLabelColumn">Residences</span><br />
          <span class="popLabelColumn">Population</span>
        </span>
        <span *ngFor="let popLevel of island.PopulationLevels; index as p" class="houseCountColumn" [class.hasAddButton]="p === 0 || popLevel.Name === 'Scholars'">
          <span class="houseCountColumnLabel">{{ popLevel.Name }}</span>
          <span *ngIf="popLevel.HouseCount <= 0" class="showUnusedToggle">
            <span *ngIf="popLevel.ShowUnused" class="fa fa-eye-slash" (click)="popLevel.ToggleShowUnused()"></span>
            <span *ngIf="!popLevel.ShowUnused" class="fa fa-eye" (click)="popLevel.ToggleShowUnused()"></span>
          </span>
          <br />

          <!-- Second Row - House Counts -->
          <!-- 'Add House' button (only for tier 1 residences and scholars) -->
          <span type="button" class="btn btn-primary btn-sm addHouseButton" *ngIf="p === 0 || popLevel.Name === 'Scholars'" (click)="popLevel.AddHouses(PromotionCount())" title="Tip: Hold Shift and/or Control to change the increment">
            <span class="fa fa-plus"></span>
            <span> {{ PromotionCount() }}</span>
          </span>
          <input class="form-control" type="number" [(ngModel)]="popLevel.HouseCount" />
          <!-- 'Upgrade House' button (all population levels except last tier, and investors) -->
          <span type="button" class="btn btn-primary btn-sm" *ngIf="p < (island.PopulationLevels.length - 1) && popLevel.Name !== 'Investors'" (click)="popLevel.Promote(PromotionCount())" title="Tip: Hold Shift and/or Control to change the increment">
            <span class="fa fa-arrow-circle-right"></span>
            <span> {{ PromotionCount() }}</span>
          </span>        
          <br />

          <!-- Third Row - Population -->
          <span class="populationCountColumnLabel">{{ popLevel.GetPopulation(island.Factories) }}</span>
        </span>
        <br />
      </span>
    </span>
  </div>

  <!-- Factories -->
  <div class="factories" *ngIf="!island.IsMinimized">
    <span *ngFor="let i of [0, 1]" class="factoryColumn">
      <div class="factoryHeader" [style.visibility]="island.EnabledFactoryGroups().length === 0 ? 'hidden' : ''">
        <span class="factoryNameColumn"></span>
        <span class="enabledColumn">Enable</span>
        <span class="productivityColumn">Productivity</span>
        <span class="requiredColumn">Required</span>
        <span class="builtColumn">Built</span>
        <span class="tradeColumn">Trade</span>
      </div>
      <div *ngFor="let factory of island.GetColumnLayouts()[i]" [className]="factory.GetSatisfactionClass(island)
       + (factory.ID === FocusedFactoryID ? ' focusedFactory' : '')">
        <label>
          <span class="factoryNameColumn">        
            <span *ngIf="factory.ParentFactory" class="indent"></span>
            <span *ngIf="factory.ParentFactory && factory.ParentFactory.ParentFactory" class="indent"></span>
            <span>{{ factory.Name }}</span>
            <span *ngIf="factory.CanHaveSilo"
              title="Use Silo (Bright Harvest DLC)"
              class="btn btn-sm brightHarvestToggle"
              (click)="factory.ToggleSilo()"
              [class.btn-success]="factory.UseSilo"
              [class.btn-secondary]="!factory.UseSilo"
              [class.disabled]="!factory.Enabled">
              <span class="fa fa-leaf"></span>
            </span>
            <span *ngIf="factory.CanHaveTractorBarn"
              title="Use Tractor Barn (Bright Harvest DLC)"
              class="btn btn-sm brightHarvestToggle"
              (click)="factory.ToggleTractorBarn()"
              [class.btn-info]="factory.UseTractorBarn"
              [class.btn-secondary]="!factory.UseTractorBarn"
              [class.disabled]="!factory.Enabled">
              <span class="fa fa-truck"></span>
            </span>
          </span>
          <span class="enabledColumn">
            <input type="checkbox" *ngIf="!factory.ParentFactory" [(ngModel)]="factory.Enabled" />
          </span>      
        </label>
        <!-- Hiding the last of the columns for factories whose outputs have zero amounts. These are public service buildings and are only included for population count. -->    
        <span class="productivityColumn" >
          <input class="hiddenForPublicService form-control" type="number" step="any" [(ngModel)]="factory.Productivity" [disabled]="!factory.Enabled" (focus)="SetFocusedFactoryID(factory.ID)" (focusout)="ClearFocusedFactoryID()" />
        </span>
        <span class="requiredColumn">
          <span class="hiddenForPublicService">
            {{ factory.GetRequiredCount(island) }}
          </span>
        </span>
        <span class="builtColumn">
          <input class="hiddenForPublicService form-control" type="number" step="any" [(ngModel)]="factory.BuiltCount" [disabled]="!factory.Enabled" (focus)="SetFocusedFactoryID(factory.ID)" (focusout)="ClearFocusedFactoryID()" />
        </span>
        <span class="tradeColumn" [attr.title]="'Total worldwide trade balance for ' + factory.Name + ' is ' + GetTradeBalance(factory.ID)">
          <input [className]="'hiddenForPublicService form-control' + (IsTradeBalanced(factory.ID) ? '' : ' unbalancedTrade')" type="number" step="any" [(ngModel)]="factory.TradeBalance" [disabled]="!factory.Enabled" (focus)="SetFocusedFactoryID(factory.ID)" (focusout)="ClearFocusedFactoryID()" />
        </span>
      </div>
    </span>
  </div>
</span>

<span type="button" class="btn btn-primary addIsland" (click)="AddIsland()">
  <span class="fa fa-plus"></span>
  <span> Add Island</span>
</span>
<br />

<span type="button" class="btn btn-primary bottomButton" (click)="ManualSave()">
  <span class="fa fa-download"></span>
  <span> Save</span>
</span>

<span type="button" class="btn btn-primary bottomButton" (click)="TriggerFileUpload()">
  <span class="fa fa-upload"></span>
  <span> Load</span>
</span>

<span type="button" class="btn btn-primary bottomButton" (click)="ResetButton()">
  <span class="fa fa-repeat"></span>
  <span> Reset</span>
</span>

<input type="file" #loadInput (change)="ManualLoad($event)" style="visibility: hidden" >