<span *ngFor="let island of islands; index as i" class="island">
  <div class="islandHeaderWrapper">
    <span class="pull-right buttonTray">
      <button type="button" class="btn btn-primary btn-sm" [disabled]="i === 0" (click)="MoveIslandUp(i)">
        <span class="fa fa-arrow-up"></span>
      </button> 
      <button type="button" class="btn btn-primary btn-sm" [disabled]="i === (islands.length - 1)" (click)="MoveIslandDown(i)">
          <span class="fa fa-arrow-down"></span>
      </button>
      <button type="button" class="btn btn-primary btn-sm" (click)="island.ToggleMinimized()">
        <span [className]="'fa ' + (island.IsMinimized ? 'fa-window-maximize' : 'fa-window-minimize')"></span>
      </button>
    </span>
    
    <span class="islandHeader">
      <div class="islandNameContainer">
        <input class="islandName form-control" type="text" [(ngModel)]="island.Name" />
      </div>  
    
      <span class="populationGroup" *ngIf="!island.IsMinimized">        
        <!-- Population and Dwellings - Old World -->
        <span class="popLabelColumn"></span>
        <span *ngFor="let i of [0, 1, 2, 3, 4]" class="houseCountColumn header">
          <span>{{ island.PopulationLevels[i].Name }}</span>
          <span *ngIf="island.PopulationLevels[i].HouseCount <= 0" class="showUnusedToggle">
            <span *ngIf="island.PopulationLevels[i].ShowUnused" class="fa fa-eye-slash" (click)="island.PopulationLevels[i].ToggleShowUnused()"></span>
            <span *ngIf="!island.PopulationLevels[i].ShowUnused" class="fa fa-eye" (click)="island.PopulationLevels[i].ToggleShowUnused()"></span>
          </span>
        </span>
        <br />
      
        <span class="popLabelColumn">Residences</span>
        <!-- 'Add House' button (only for Farmers and Jornaleros) -->
        <span type="button" class="btn btn-primary btn-sm addHouseButton" (click)="island.PopulationLevels[0].AddHouses(PromotionCount())" title="Tip: Hold Shift and/or Control to change the increment">
          <span class="fa fa-plus"></span>
          <span> {{ PromotionCount() }}</span>
        </span>
        
        <span>
          <span *ngFor="let i of [0, 1, 2, 3, 4]" class="houseCountColumn">
            <!-- 'Upgrade House' button (all population levels except Investors and Obreros) -->
            <input class="form-control" type="number" [(ngModel)]="island.PopulationLevels[i].HouseCount" />
            <span type="button" class="btn btn-primary btn-sm" *ngIf="i < 4" (click)="island.PopulationLevels[i].Promote(PromotionCount())" title="Tip: Hold Shift and/or Control to change the increment">
              <span class="fa fa-arrow-circle-right"></span>
              <span> {{ PromotionCount() }}</span>
            </span>        
          </span>        
        </span>
        <br />
        
        <span class="popLabelColumn">Population</span>
        <span>
          <span *ngFor="let i of [0, 1, 2, 3, 4]" class="houseCountColumn populationCount">
            {{ island.PopulationLevels[i].GetPopulation(island.Factories) }}
          </span>
        </span>
      </span>
    
      <span class="populationGroup" *ngIf="!island.IsMinimized">      
        <!-- Population and Dwellings - New World -->  
        <span *ngFor="let i of [5, 6]" class="houseCountColumn header">
          <span>{{ island.PopulationLevels[i].Name }}</span>
          <span *ngIf="island.PopulationLevels[i].HouseCount <= 0" class="showUnusedToggle">
            <span *ngIf="island.PopulationLevels[i].ShowUnused" class="fa fa-eye-slash" (click)="island.PopulationLevels[i].ToggleShowUnused()"></span>
            <span *ngIf="!island.PopulationLevels[i].ShowUnused" class="fa fa-eye" (click)="island.PopulationLevels[i].ToggleShowUnused()"></span>
          </span>
        </span>
        <br />
      
        <!-- 'Add House' button (only for Farmers and Jornaleros) -->
        <span type="button" class="btn btn-primary btn-sm addHouseButton" (click)="island.PopulationLevels[5].AddHouses(PromotionCount())" title="Tip: Hold Shift and/or Control to change the increment">
          <span class="fa fa-plus"></span>
          <span> {{ PromotionCount() }}</span>
        </span>
        
        <span>
          <span *ngFor="let i of [5, 6]" class="houseCountColumn">
            <!-- 'Upgrade House' button (all population levels except Investors and Obreros) -->
            <input class="form-control" type="number" [(ngModel)]="island.PopulationLevels[i].HouseCount" />
            <span type="button" class="btn btn-primary btn-sm" *ngIf="i === 5" (click)="island.PopulationLevels[i].Promote(PromotionCount())" title="Tip: Hold Shift and/or Control to change the increment">
              <span class="fa fa-arrow-circle-right"></span>
              <span> {{ PromotionCount() }}</span>
            </span>        
          </span>
        </span>
        <br />
          
        <span>
          <span *ngFor="let i of [5, 6]" class="houseCountColumn populationCount">
            {{ island.PopulationLevels[i].GetPopulation(island.Factories) }}
          </span>
        </span>
      </span>
      <br />
    </span>
  </div>  


  <!-- Factories -->
  <div class="factories" *ngIf="!island.IsMinimized">
    <span *ngFor="let i of [0, 1]" class="factoryColumn">
      <div class="factoryHeader" [style.visibility]="island.EnabledFactoryGroups().length === 0 ? 'hidden' : ''">
        <span class="factoryNameColumn"></span>
        <span class="enabledColumn">Enable</span>
        <span class="productivityColumn">Productivity</span>
        <span class="requiredColumn">Required</span>
        <span class="builtColumn">Built</span>
        <span class="tradeColumn">Trade</span>
      </div>
      <div *ngFor="let factory of island.GetColumnLayouts()[i]" [className]="factory.GetSatisfactionClass(island.PopulationLevels)">
        <label>
          <span class="factoryNameColumn">        
            <span *ngIf="factory.ParentFactory" class="indent"></span>
            <span *ngIf="factory.ParentFactory && factory.ParentFactory.ParentFactory" class="indent"></span>
            <span>{{ factory.Name }}</span>
          </span>
          <span class="enabledColumn">
            <input type="checkbox" *ngIf="!factory.ParentFactory" [(ngModel)]="factory.Enabled" />
          </span>      
        </label>
        <!-- Hiding the last of the columns for factories whose outputs have zero amounts. These are public service buildings and are only included for population count. -->    
        <span class="productivityColumn" >
          <input class="hiddenForPublicService form-control" type="number" [(ngModel)]="factory.Productivity" [disabled]="!factory.Enabled" />
        </span>
        <span class="requiredColumn">
          <span class="hiddenForPublicService">
            {{ factory.GetRequiredCount(island.PopulationLevels, island.Factories) }}
          </span>
        </span>
        <span class="builtColumn">
          <input class="hiddenForPublicService form-control" type="number" [(ngModel)]="factory.BuiltCount" [disabled]="!factory.Enabled" />
        </span>
        <span class="tradeColumn" [attr.title]="'Total worldwide trade balance for ' + factory.Name + ' is ' + GetTradeBalance(factory.ID)">
          <input [className]="'hiddenForPublicService form-control' + (IsTradeBalanced(factory.ID) ? '' : ' unbalancedTrade')" type="number" [(ngModel)]="factory.TradeBalance" [disabled]="!factory.Enabled" />
        </span>
      </div>
    </span>
  </div>
</span>

<span type="button" class="btn btn-primary addIsland" (click)="AddIsland()">
  <span class="fa fa-plus"></span>
  <span> Add Island</span>
</span>
<br />

<span type="button" class="btn btn-primary bottomButton" (click)="ManualSave()">
  <span class="fa fa-download"></span>
  <span> Save</span>
</span>

<span type="button" class="btn btn-primary bottomButton" (click)="TriggerFileUpload()">
  <span class="fa fa-upload"></span>
  <span> Load</span>
</span>

<span type="button" class="btn btn-primary bottomButton" (click)="Reset()">
  <span class="fa fa-repeat"></span>
  <span> Reset</span>
</span>

<input type="file" #loadInput (change)="ManualLoad($event)" style="visibility: hidden" >