.island {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    background-color: #FFDCAA;
}

.islandName {
    width: 50%;
    display: inline-block;
    text-align: center;
}

.islandNameContainer {
    text-align: center;    
}

.factories {
    text-align: center;
}

input[type="number"] {
    width: 80px;
    display: inline-block;
}

.popLabelColumn {
    width: 90px;
    display: inline-block;
}

.houseCountColumn {
    width: 140px;
    display: inline-block;
}
.houseCountColumn.header {
    text-align: right;
    padding-right: 15px;
    font-weight: bold;
}
.houseCountColumn.populationCount {    
    padding-left: 68px;
}
.houseCountColumn > * {
    display: inline-block;
    vertical-align: middle;
}
.houseCountColumn > .btn {
    margin-left: 5px;
}
.addHouseButton {
    margin-right: 5px;
}
.addHouseButton, .houseCountColumn > .btn {
    text-align: left;
    width: 50px;
}

.factories .factoryNameColumn {
    width: 180px;
    display: inline-block;
    text-align: left;
}

.factoryHeader {
    font-weight: bold;
}
.factoryHeader > * {
    text-align: center;
}

.productivityColumn {
    width: 100px;
    display: inline-block;
    text-align: center;
}

.enabledColumn {
    width: 60px;
    display: inline-block;
    text-align: center;
}

.requiredColumn {
    width: 70px;
    display: inline-block;
    text-align: center;
}

.builtColumn {
    width: 80px;
    display: inline-block;
}

.indent {
    width: 20px;
    display: inline-block;
}

.publicService .hiddenForPublicService {
    display: none;
}